<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="data source=.\DONIYORLAPTOP; initial catalog=ScrumDB; integrated security=SSPI;" providerName="System.Data.SQLClient" />-->
    <!--<add name="DefaultConnection" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=ScrumDB;integrated security=SSPI" providerName="System.Data.SqlClient" />-->
  <add name="ScrumEntities" connectionString="metadata=res://*/Scrum.csdl|res://*/Scrum.ssdl|res://*/Scrum.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DONIYORLAPTOP;initial catalog=Scrum;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>